*{
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
    color: #212529;
}

/* Navbar Start */
.header{
    position: relative;
}
.nav-menuzord{
    position: absolute;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 /10%);
    z-index: 1000;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}
nav{
    display: block;
    align-items: center;
}
.container{
    max-width: 750px;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.nav-menuzord .menuzord{
    background-color: transparent!important;
    padding: 0;
}
.menuzord{
    width: 100%;
    float: 0 30px;
    padding: 0 30px;
    position: relative;
    background: #fff;
}
.menuzord *{
    box-sizing: border-box;
}
.clearfix::after{
    display: block;
    clear: both;
    content: "";
}
.nav-menuzord .menuzord .menuzord-text-brand{
    width: 230px;
    height: 80px;
    color: black;
}
img{
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    transition: filter .3s;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100px;
    padding-top: 20px;
}

.nav-menuzord .menuzord .menuzord-menu{
    padding-right: 50px;
}
.menuzord-menu.menuzord-right{
    float: right;
}
.menuzord-menu{
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
.menuzord-menu > li {
    display: inline-block;
}
.nav-menuzord .menuzord .menuzord-menu>li>a{
    padding: 37px 0;
    margin: 0 15px;
    font-weight: 600;
    position: relative;
    color: #000;
    text-transform: uppercase;
}
.menuzord-menu > li > a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    outline: 0;
    line-height: 1.428;
    font-weight: bold!important;
}
.nav-menuzord .menuzord .menuzord-menu li.active>a:after{
    width: 30%;
}
.nav-menuzord .menuzord .menuzord-menu li:hover>a:after{
    width: 100%;
}
.nav-menuzord .menuzord .menuzord-menu li.active>a, .nav-menuzord .menuzord .menuzord-menu li:hover>a{
    color: #6091ff!important;
}
.nav-menuzord .menuzord .menuzord-menu>li>a{
    font-weight: 600;
}
.nav-menuzord .menuzord .menuzord-menu>li>a:before{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 30px;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
    transition: all 300ms ease-out;
}
.nav-menuzord .menuzord .menuzord-menu>li>a:after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 28px;
    width: 0;
    height: 3px;
    background-color: #6868ac;
    transition: all 300ms ease-out;
    border-radius: 2px;
}
.hamburger{
    background-color: #fff;
    display: none;
    border: 0;
    color: #6868ac;
    cursor: pointer;
    font-size: 20px;
}
.hamburger:focus {
    outline: none;
}
@media screen and (max-width: 767px){
    .menuzord-menu{
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .menuzord-menu.show{
        display: flex;
    }
    .menuzord-menu > li {
        margin: auto;
    }
    .hamburger{
        display: block;
        margin-top: 25px;
        float: right;
        background-color: #6868ac;
        padding: 1px 8px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
}
/* Navbar End */

/* filter search */
.pl-0, .px-0 {
    padding-left: 0 !important;
}
.pr-0, .px-0 {
    padding-right: 0 !important;
}
.px-0 {
    padding-right: 0!important;
    padding-left: 0!important;
}
@media screen and (min-width: 768px){
    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333%;
    }
}
.filters {
    background: #f1f1f1 !important;
    box-shadow: inset -3px 3px 0 rgba(0, 0, 0, 0.1), -3px 3px 0 rgba(0, 0, 0, 0.1) !important;
    margin-bottom: 10px;
}
.grid-container {
    width: 100%;
}
.grid-container-list {
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.pl-0, .px-0 {
    padding-left: 0 !important;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol, ul {
    padding-left: 2rem;
}
li.grid-fill-3 {
    width: 33.3333333333% !important;
}
.grid-container li {
    position: relative;
    float: left;
}
.accordion-heading {
    border-bottom: 0;
}
.filters h4 {
    margin: 0;
    font-size: 14px;
}
h4, .h4 {
    font-size: 1.12875rem;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
}
.filters .grid-container .accordion-toggle {
    display: block;
    float: none;
}
.filters .accordion-toggle {
    display: inline-block;
    padding: 8px 15px;
}
.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
    text-align: center;
}
.accordion-toggle {
    cursor: pointer;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 6px 15px;
    background-color: #fff;
    text-decoration: none;
    color: #6868ac;
}
li.grid-fill-3 {
    width: 33.3333333333% !important;
}
.grid-container li {
    position: relative;
    float: left;
}
.accordion-heading {
    border-bottom: 0;
}
/* filter search end */

/* Page Title Start */
.page-title{
    padding-top: 94px;
}
.pt-7{
    padding-top: 3.13rem!important;
}
.mb-4{
    margin-bottom: 1.25rem!important;
}
.mb-0{
    margin-bottom: 0!important;
}
.justify-content-center{
    justify-content: center!important;
}
.breadcrumb{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
}
ol, ul{
    padding-left: 2rem;
}
.breadcrumb-item{
    font-size: 15px;
}
.breadcrumb-item.active{
    color: #6c757d;
}
.breadcrumb-item+.breadcrumb-item{
    padding-left: 0.5rem;
}
.breadcrumb-item+.breadcrumb-item::before{
    float: left;
    padding-right: 0.5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider,"/");
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
a:hover{
    text-decoration: none;
    color: #cc6e18!important;
}
li.breadcrumb-item>a{
    transition: all .3s;
    display: inline-block;
    text-decoration: none;
    color: #6868ac;
}
.align-items-center{
    align-items: center!important;
}
.justify-content-center{
    justify-content: center!important;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-left: calc(var(--bs-gutter-x)*-.5);
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)*.5);
    padding-left: calc(var(--bs-gutter-x)*.5);
    margin-top: var(--bs-gutter-y);
}
.page-title .page-title-content{
    text-align: center;
    position: relative;
}
.page-title .page-title-content h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: inherit;
}
.font-weight-bold{
    font-weight: 700!important;
}
.text-uppercase{
    text-transform: uppercase!important;
}
/* Page Title End */

/* search start */
/* .py-7{
    padding-top: 3.13rem!important;
    padding-bottom: 3.13rem!important;
}
.mb-4{
    margin-bottom: 1.25rem!important;
}
.form{
    display: block;
    margin-top: 0em;
}
.input{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.pl-0, .px-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.col-md-10{
    flex: 0 0 auto;
    width: 83.3333%;
}
.filters{
    background: #f1f1f1 !important;
    box-shadow: inset -3px 3px 0 rgb(0 0 0 / 10%), -3px 3px 0 rgb(0 0 0 / 10%) !important;
    margin-bottom: 10px;
}
.grid-container{
    width: 100%;
}
.grid-container-list{
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.li-grid-fill-3{
    width: 33.33 !important;
}
.grid-container li{
    position: relative;
    float: left;
}
.accordion-heading{
    border-bottom: 0;
}
.filters h4{
    margin: 0;
    font-size: 14px;
}
h4{
    font-weight: 400;
    line-height: 1.2;
}
.filters .grid-container .accordion-toggle{
    display: block;
    float: none;
}
.filters .accordion-toggle{
    padding: 8px 15px;
}
.filters .accordion-heading+ .accordion-heading .accordion-toggle{
    border-left: none;
}
.accordion-heading .accordion-toggle{
    text-align: center;
}
.accordion-toggle{
    cursor: pointer;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    text-decoration: none;
    color: #6868ac;
}
.accordion-toggle:hover{
    background-color: #f1f1f1;
    text-decoration: none;
}
.font-weight-bold{
    font-weight: 700!important;
}
.collapse.inp{
    height: auto;
}
.collapse:not(.show){
    display: none;
}
.accordion-body{
    padding: 0.01rem 0.01rem;
}
.collapse{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease;
}
.grid-filters{
    padding: 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.col-md-2{
    flex: 0 0 auto;
    width: 16.66667%;
}
.btn-xs{
    font-size: .8125rem;
    padding: 0.56rem 0.6rem;
    line-height: 1rem;
}
.btn-primary{
    color: #fff;
}
.w-100{
    width: 100%!important;
}
.btn-primary{
    background-color: #6868ac !important;
    border-color: white;
}
.btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5rem;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.6rem 1.8125rem;
    font-size: .875rem;
    border-radius: 0.25rem;
    transition: all .3s;
}
.fa-fw{
    text-align: center;
    width: 1.25rem;
}
.fa{
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
} */
/* search end */


/* container start */
.text-center{
    text-align: center!important;
}
.my-2{
    margin-top: 0.63rem!important;
    margin-bottom: 0.63rem!important;
}
a{
    transition: all .3s;
    display: inline-block;
    text-decoration: none;
    color: #6868ac;
}
.img-rounded-hover-effect {
    max-width: 220px;
    max-height: 220px;
}
.img-rounded-hover-effect {
    position: relative;
    display: inline-block;
    max-width: 290px;
    max-height: 290px;
    width: 100%;
    height: 100%;
    color: #bbb;
    font-size: 16px;
    box-shadow: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.img-rounded-hover-effect:before, .img-rounded-hover-effect:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    border: 3px solid #6868ac;
    border-color: transparent #6868ac;
    transition: all 0.3s linear;
}
.img-rounded-hover-effect img {
    width: 220px;
    height: 220px;
}
.img-rounded-hover-effect:hover:before, .img-rounded-hover-effect:hover:after {
    border-width: 7px;
}
.img-rounded-hover-effect:hover:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.img-rounded-hover-effect img {
    width: 290px;
    height: 290px;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 50%;
    padding: 10px;
    object-fit: cover;
}
.img-fluid{
    max-width: 100%;
}
.img-rounded-hover-effect:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    border: 3px solid #6868ac;
    border-color: transparent #6868ac;
}
hover-effect:hover:after {
    border-width: 7px;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-crousel{
    display: none;
    width: 100%;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}
owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
}
.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-touch-callout: none;
}
.owl-carousel .owl-item {
    touch-action: pan-y;
    user-select: none;
}
.badge-primary {
    color: #fff;
    background-color: #6868ac;
}
.badge {
    border-radius: 4px;
    font-size: 12px;
    line-height: 1;
    padding: 6px 6px;
    font-weight: normal;
    color: #ffffff;
}
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
hr:not([size]) {
    height: 1px;
}
hr {
    opacity: 1;
    background-color: rgba(0, 0, 0, .07);
    margin: 2rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
/* container end */

/* Footer Start */
.footer{
    display: block;
}
.py-5{
    padding-bottom: 3rem !important;
}
.my-4{
    margin-top: 1.25rem!important;
    margin-bottom: 1.25rem!important;
}
.col-lg-3{
    flex: 0 0 auto;
    width: 25%;
}
.footer .title-tag{
    margin-bottom: 10px;
}
.footer .title-tag h6{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.pt-6{
    padding-top: 1.88rem!important;
}
.list-unstyled{
    padding-left: 0;
    list-style: none;
}
.footer p, .footer a, .footer span{
    color: rgb(224, 224, 224) !important;
    font-weight: lighter !important;
}
.pl-2, .px-2{
    padding-left: 0.5rem !important;
}
.pr-2, .px-2{
    padding-right: 0.5rem !important;
}
.pb-1, .py-1{
    padding-bottom: 0.25rem !important;
}
.pt-1, .py-1{
    padding-top: 0.25rem !important;
}
.btn-white{
    color:  grey!important;
    background-color: #6868ac !important;
}
.mb-0{
    margin-bottom: 0!important;
}
.list-inline{
    padding-left: 0;
    list-style: none;
}
/* Footer End */