body {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

nav {
    text-transform: uppercase;
    font-size: 14px;
}

a {
    text-decoration: none;
}

nav ul li a {
    color: #000;
}

nav ul li a.active {
    color: #6091ff;
}

nav ul li a:hover {
    color: #6091ff;
}

/* nav ul li a:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 28px;
    height: 3px;
    background-color: #6868ac;
    transition: all 300ms ease-out;
    border-radius: 2px;
} */

section .page-title-content {
    text-align: center;
    position: relative;
}

section li {
    font-size: 15px;
}

section a {
    color: #6868ac;
}

section a:hover {
    color: #b84300;
}

.py-7 {
    padding-top: 3.13rem;
    padding-bottom: 3.13rem;
}

table th {
    width: 30%;
}

table tr {
    border: 3px solid #d9d9d9;
}

.owl-nav {
    font-size: 1.25rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0;
    top: 50%;
    outline: 0;
    transform: translateY(-50%);
    transition: all 0.3s;
}

.img-effect {
    position: relative;
    display: inline-block;
    max-width: 290px;
    max-height: 290px;
    width: 100%;
    height: 100%;
}

.img-effect img {
    width: 290px;
    height: 290px;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 20px;
    padding: 10px;
    object-fit: cover;
}

.img-effect::before,
.img-effect::after {
    box-sizing: border-box;
    border-radius: 20px;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    border: 3px solid;
    border-color: transparent #6868ac;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.img-effect:hover::before,
.img-effect:hover::after {
    border-color: #6868ac;
    border-width: 7px;
}

.badge-purple {
    color: #fff;
    background-color: #6868ac;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1;
    padding: 6px;
    font-weight: normal;
}
